# Server configuration
PORT=8093

# WhatsApp Cloud API credentials
# WHATSAPP_VERIFY_TOKEN is the arbitrary token you define here and match in the Meta Developer Portal Webhook configuration.
WHATSAPP_VERIFY_TOKEN=un-secreto-largo-y-seguro

# WHATSAPP_ACCESS_TOKEN is your temporary or permanent System User Access Token from Meta.
WHATSAPP_ACCESS_TOKEN=identificador-de-acceso-de-la-app-en-meta

# WHATSAPP_PHONE_NUMBER_ID is the ID of your sender phone number provided in the WhatsApp App Dashboard.
WHATSAPP_PHONE_NUMBER_ID=identificador-del-numero-de-telefono

# WHATSAPP_API_VERSION is the version of the Graph API (default is v20.0)
WHATSAPP_API_VERSION=version-api

# Gemini configuration
# Gemini API credentials
GEMINI_API_KEY=api-key-de-gemini

# Gemini Model
GEMINI_MODEL=modelo-de-gemini

# Gemini System Prompt
GEMINI_SYSTEM_PROMPT=mensaje-de-contexto-de-gemini